.star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  /* background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%); */
  overflow: hidden;
}
.extra {
  background-color: #00000061;
}
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  z-index: 0;
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    /* For mobile performance, tail-fade animation will be removed QAQ */
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.21em;
  --top-offset: 69.86vh;
  --fall-duration: 6.267s;
  --fall-delay: 0.11s;
}
.star:nth-child(2) {
  --star-tail-length: 5.02em;
  --top-offset: 92.65vh;
  --fall-duration: 10.3s;
  --fall-delay: 5.549s;
}
.star:nth-child(3) {
  --star-tail-length: 5.77em;
  --top-offset: 22.92vh;
  --fall-duration: 10.18s;
  --fall-delay: 7.298s;
}
.star:nth-child(4) {
  --star-tail-length: 5.07em;
  --top-offset: 46.75vh;
  --fall-duration: 7.882s;
  --fall-delay: 2.985s;
}
.star:nth-child(5) {
  --star-tail-length: 5.13em;
  --top-offset: 43.82vh;
  --fall-duration: 6.985s;
  --fall-delay: 1.546s;
}
.star:nth-child(6) {
  --star-tail-length: 5.94em;
  --top-offset: 16.35vh;
  --fall-duration: 11.747s;
  --fall-delay: 4.285s;
}
.star:nth-child(7) {
  --star-tail-length: 6.98em;
  --top-offset: 51.53vh;
  --fall-duration: 11.662s;
  --fall-delay: 4.38s;
}
.star:nth-child(8) {
  --star-tail-length: 5.47em;
  --top-offset: 20.39vh;
  --fall-duration: 8.315s;
  --fall-delay: 8.623s;
}
.star:nth-child(9) {
  --star-tail-length: 5.27em;
  --top-offset: 46.54vh;
  --fall-duration: 9.587s;
  --fall-delay: 4.147s;
}
.star:nth-child(10) {
  --star-tail-length: 5.67em;
  --top-offset: 54.53vh;
  --fall-duration: 6.426s;
  --fall-delay: 3.917s;
}
.star:nth-child(11) {
  --star-tail-length: 5.86em;
  --top-offset: 61.7vh;
  --fall-duration: 8.604s;
  --fall-delay: 9.529s;
}
.star:nth-child(12) {
  --star-tail-length: 7.13em;
  --top-offset: 41.57vh;
  --fall-duration: 7.366s;
  --fall-delay: 5.273s;
}
.star:nth-child(13) {
  --star-tail-length: 6.03em;
  --top-offset: 25.94vh;
  --fall-duration: 11.8s;
  --fall-delay: 5.439s;
}
.star:nth-child(14) {
  --star-tail-length: 5.22em;
  --top-offset: 17.71vh;
  --fall-duration: 11.355s;
  --fall-delay: 5.765s;
}
.star:nth-child(15) {
  --star-tail-length: 6.17em;
  --top-offset: 30.27vh;
  --fall-duration: 11.158s;
  --fall-delay: 6.641s;
}
.star:nth-child(16) {
  --star-tail-length: 7.31em;
  --top-offset: 54.11vh;
  --fall-duration: 11.165s;
  --fall-delay: 1.871s;
}
.star:nth-child(17) {
  --star-tail-length: 5.35em;
  --top-offset: 18.77vh;
  --fall-duration: 6.405s;
  --fall-delay: 2.18s;
}
.star:nth-child(18) {
  --star-tail-length: 5.13em;
  --top-offset: 4.81vh;
  --fall-duration: 10.261s;
  --fall-delay: 2.893s;
}
.star:nth-child(19) {
  --star-tail-length: 6.49em;
  --top-offset: 42.17vh;
  --fall-duration: 7.368s;
  --fall-delay: 1.271s;
}
.star:nth-child(20) {
  --star-tail-length: 5.65em;
  --top-offset: 94.44vh;
  --fall-duration: 8.718s;
  --fall-delay: 6.267s;
}
.star:nth-child(21) {
  --star-tail-length: 6.17em;
  --top-offset: 5.08vh;
  --fall-duration: 7.75s;
  --fall-delay: 8.094s;
}
.star:nth-child(22) {
  --star-tail-length: 7.03em;
  --top-offset: 99.64vh;
  --fall-duration: 9.105s;
  --fall-delay: 8.073s;
}
.star:nth-child(23) {
  --star-tail-length: 6.82em;
  --top-offset: 60.49vh;
  --fall-duration: 10.09s;
  --fall-delay: 4.316s;
}
.star:nth-child(24) {
  --star-tail-length: 6.14em;
  --top-offset: 32.27vh;
  --fall-duration: 7.736s;
  --fall-delay: 9.583s;
}
.star:nth-child(25) {
  --star-tail-length: 5.99em;
  --top-offset: 50.53vh;
  --fall-duration: 7.511s;
  --fall-delay: 6.366s;
}
.star:nth-child(26) {
  --star-tail-length: 6.91em;
  --top-offset: 95.76vh;
  --fall-duration: 11.572s;
  --fall-delay: 2.529s;
}
.star:nth-child(27) {
  --star-tail-length: 5.25em;
  --top-offset: 74.23vh;
  --fall-duration: 6.967s;
  --fall-delay: 4.007s;
}
.star:nth-child(28) {
  --star-tail-length: 5.15em;
  --top-offset: 47.62vh;
  --fall-duration: 11.622s;
  --fall-delay: 2.886s;
}
.star:nth-child(29) {
  --star-tail-length: 6.16em;
  --top-offset: 5.93vh;
  --fall-duration: 9.987s;
  --fall-delay: 4.095s;
}
.star:nth-child(30) {
  --star-tail-length: 6.87em;
  --top-offset: 84.23vh;
  --fall-duration: 6.805s;
  --fall-delay: 0.742s;
}
.star:nth-child(31) {
  --star-tail-length: 5.34em;
  --top-offset: 72.89vh;
  --fall-duration: 8.102s;
  --fall-delay: 5.81s;
}
.star:nth-child(32) {
  --star-tail-length: 6.03em;
  --top-offset: 91.64vh;
  --fall-duration: 10.339s;
  --fall-delay: 2.468s;
}
.star:nth-child(33) {
  --star-tail-length: 6.89em;
  --top-offset: 54.7vh;
  --fall-duration: 11.262s;
  --fall-delay: 2.58s;
}
.star:nth-child(34) {
  --star-tail-length: 6.27em;
  --top-offset: 1.41vh;
  --fall-duration: 11.653s;
  --fall-delay: 6.301s;
}
.star:nth-child(35) {
  --star-tail-length: 6.36em;
  --top-offset: 0.54vh;
  --fall-duration: 9.389s;
  --fall-delay: 8.946s;
}
.star:nth-child(36) {
  --star-tail-length: 5.25em;
  --top-offset: 13.7vh;
  --fall-duration: 11.309s;
  --fall-delay: 7.571s;
}
.star:nth-child(37) {
  --star-tail-length: 7.47em;
  --top-offset: 27.26vh;
  --fall-duration: 8.23s;
  --fall-delay: 7.204s;
}
.star:nth-child(38) {
  --star-tail-length: 5.4em;
  --top-offset: 76.01vh;
  --fall-duration: 9.472s;
  --fall-delay: 4.049s;
}
.star:nth-child(39) {
  --star-tail-length: 7.47em;
  --top-offset: 24.54vh;
  --fall-duration: 8.679s;
  --fall-delay: 7.674s;
}
.star:nth-child(40) {
  --star-tail-length: 7.14em;
  --top-offset: 19.56vh;
  --fall-duration: 9.048s;
  --fall-delay: 9.414s;
}
.star:nth-child(41) {
  --star-tail-length: 5.09em;
  --top-offset: 1.01vh;
  --fall-duration: 8.045s;
  --fall-delay: 5.031s;
}
.star:nth-child(42) {
  --star-tail-length: 6.23em;
  --top-offset: 68.91vh;
  --fall-duration: 6.266s;
  --fall-delay: 1.104s;
}
.star:nth-child(43) {
  --star-tail-length: 5.58em;
  --top-offset: 37.81vh;
  --fall-duration: 8.755s;
  --fall-delay: 8.679s;
}
.star:nth-child(44) {
  --star-tail-length: 6.48em;
  --top-offset: 99.96vh;
  --fall-duration: 8.372s;
  --fall-delay: 4.163s;
}
.star:nth-child(45) {
  --star-tail-length: 6.47em;
  --top-offset: 70.52vh;
  --fall-duration: 9.941s;
  --fall-delay: 1.267s;
}
.star:nth-child(46) {
  --star-tail-length: 7.23em;
  --top-offset: 99.32vh;
  --fall-duration: 6.497s;
  --fall-delay: 6.251s;
}
.star:nth-child(47) {
  --star-tail-length: 6.99em;
  --top-offset: 17.11vh;
  --fall-duration: 10.543s;
  --fall-delay: 9.812s;
}
.star:nth-child(48) {
  --star-tail-length: 6.83em;
  --top-offset: 74.57vh;
  --fall-duration: 8.581s;
  --fall-delay: 1.589s;
}
.star:nth-child(49) {
  --star-tail-length: 6.52em;
  --top-offset: 29.44vh;
  --fall-duration: 6.04s;
  --fall-delay: 0.181s;
}
.star:nth-child(50) {
  --star-tail-length: 7.17em;
  --top-offset: 40.43vh;
  --fall-duration: 7.545s;
  --fall-delay: 7.683s;
}
.star::before,
.star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

/*# sourceMappingURL=style.css.map */
